.heading{
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.column {
  float: left;
  width: 47%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 5%;
}

.row::after {
  content:"";
  clear: both;
  display: table;
}

.btn {
  float: left;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 7%;
  margin-right: 2%;
  width: 15%;
}

@media screen and (max-width: 500px) {
  .column {
    width: 90%;
  }
}