.column {
  float: left;
  width: 48%;
  padding-left: 15px;
}

.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 2%;
}

.row::after {
  content:"";
  clear: both;
  display: table;
}

.btn {
  float: left;
  margin-top: 2%;
  margin-left: 7%;
  margin-right: 2%;
  width: 15%;
}

.txt-area {
  position: fixed;
  bottom: 0;
  right: 6.5%;
}